<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="railtrack_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.997E-05 0.3656 0.028632"
        rpy="0 0 0" />
      <mass
        value="39.366" />
      <inertia
        ixx="72.406"
        ixy="5.0287E-06"
        ixz="1.949E-05"
        iyy="3.4377"
        iyz="-0.0090042"
        izz="75.775" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://railtrack_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://railtrack_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>